.chart-container {
  width: 100%;
  height: 100%;

  .chart-header {
    width: 100%;
    .chart-title {
      font-size: 25px;
      font-weight: bold;
    }
    .chart-icon {
      cursor: pointer;
    }
  }

  .chart-content {
  }
}
