<div class="table-container" fxLayoutAlign="center center">
  <!-- <span>asd</span> -->
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="3"
  >
    <ngx-datatable-column
      prop="name"
      name="Nombre"
      [flexGrow]="4"
      [sortable]="true"
    >
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span>{{ value ? value : "-" }} </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      prop="name"
      name="Nombre"
      [flexGrow]="4"
      [sortable]="true"
    >
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span>{{ value ? value : "-" }} </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      prop="name"
      name="Nombre"
      [flexGrow]="4"
      [sortable]="true"
    >
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span>{{ value ? value : "-" }} </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      prop="name"
      name="Nombre"
      [flexGrow]="4"
      [sortable]="true"
    >
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span>{{ value ? value : "-" }} </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      prop="name"
      name="Nombre"
      [flexGrow]="4"
      [sortable]="true"
    >
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span>{{ value ? value : "-" }} </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      prop="name"
      name="Nombre"
      [flexGrow]="4"
      [sortable]="true"
    >
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span>{{ value ? value : "-" }} </span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
